.b-summ__positioner {
    margin-top: 10px;
}
.b-summ__summ {
	min-width: 57px;
	display: inline-block;
}
.b-summ__positioner.fixed {
    position: fixed;
    bottom: 0;
}
.b-item__save {
	/* display: none; */
	position: relative;
	z-index: 3;
}
/* .b-item:focus + .b-item__save {
	display: inline-block;
}
.b-item:focus + .b-item__save + .b-item__delete {
	display: none;
} */
.b-summ__text {
	text-align: right;
	width: 128px;
	margin: 5px 0;
}
.b-item__container {
	position: relative;
	margin: 10px 0;
}
.b-item__container:hover .b-item__delete{
	display: inline-block;
}
.b-summ__positioner_wrap {
	height: 90px;
}
.button_wrapper {
	margin: 20px 0;
}