<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="node_modules/bootstrap-icons/font/bootstrap-icons.css">
	<link rel="stylesheet" href="css/style.css">

	<script type="text/template" id="viewItem">
		<div class="col-md-8">
			<input class="form-control b-item_description" type="text" placeholder="Description..." value="<%= description %>">
		</div>
		<div class="col-md-2">
			<input class="form-control b-item" style="display: inline-block;" type="text" placeholder="0" value="<%= cash %>">
		</div>
		<div class="col-md-2">
			<button type="button" class="b-item__delete btn btn-outline-danger">
				<i class="bi bi-trash" aria-hidden="true"></i>
			</button>
		</div>
	</script>

	<meta charset="utf-8">
	<title>Backbone based calculator</title>
</head>

<body>
	<div class="container">
		<div class="button_wrapper">
			<button type="button" class="b-add btn btn-success">
				<i class="bi bi-plus-circle" aria-hidden="true"></i> Add row
			</button>
		</div>
		<div class="main-container main-container-hover div-condensed">
				
		</div>
		<div class="b-summ__positioner_wrap">
			<div class="well b-summ__positioner">
				Summary:
				<strong class="b-summ__summ" id="summ">0</strong>
			</div>
		</div>
	</div>
	<!-- BACKBONE -->
	<script data-main="src/main" src="node_modules/requirejs/require.js"></script>
</body>

</html>