body {
    font-family: Arial, sans-serif;
    color: #333333;
    font-size: 13px;
    padding: 0 0 20px 0;
}
.b-summ__positioner {
	margin-left: 36px;
    margin-top: 10px;
}
.b-summ__summ {
    text-align: right;
	width: 57px;
	display: inline-block;
}
.b-summ__positioner.fixed {
    position: fixed;
    bottom: 0;
    border-top: 1px solid #333333;
    border-left: 1px solid #333333;
    border-right: 1px solid #333333;
    background: #fff;
    padding: 5px 12px;
    margin-left: 24px;
}
.b-item {
    background: transparent;
    text-align: right;
	width: 70px;
    outline: none;
    border: 1px solid transparent;
}
.b-item:focus {
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    border-top: 1px solid #636d76;
    border-left: 1px solid #c9d3d4;
    border-bottom: 1px solid #c9d3d4;
    border-right: 1px solid #c9d3d4;
}
.b-item__save {
	display: none;
	position: relative;
	z-index: 3;
}
.b-item:focus + .b-item__save {
	display: inline-block;
}
.b-item:focus + .b-item__save + .b-item__delete {
	display: none;
}
.b-add {
	margin-left: 20px;
	margin-top: 20px;
}
.b-summ__text {
	text-align: right;
	width: 128px;
	margin: 5px 0;
}
.b-item__delete {
	text-decoration: none;
	display: none;
	border-bottom: 1px dashed;
	position: absolute;
	z-index: 2;
	left: 84px;
	top: 6px;
    color: #003399;
    font-size: 13px;
}
.b-item__container {
	position: relative;
	width: 170px;
	margin-left: 60px;
	padding: 3px;
}
.b-item__container:hover {
	background: #b3e0f4;
}
.b-item__container:hover .b-item__delete{
	display: inline-block;
}